//Font Import -- Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap");

//Colors
$blue: #62bdfc;
$white: #fff;
$offWhite: #f9f9ff;
$purple: #8490ff;
$lightText: #777777;

//CSS Resets
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//Set Initial Styles

//Font, Overflow and Viewport width
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  width: 100vw;
}

//Remove all link decoration
a {
  text-decoration: none;
  color: inherit;
}

//Divider
hr {
  margin: 0 auto;
  width: 40%;
  border: 1px solid rgba($color: #8490ff, $alpha: 0.2);
}

//Typography
h1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 4rem;
  line-height: 75px;
}

h2 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}

h3 {
  font-weight: 600;
  font-size: 1.3rem;
}

p {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.35rem;
  color: $lightText;
}

//Button Styling
.button-1 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 20px;
  border-style: none;
  padding: 10px 40px;
  background: linear-gradient(90deg, #8490ff 0%, #62bdfc 100%);
  box-shadow: 0px 3px 12px rgba($color: #000000, $alpha: 0.3);
  transition: 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 6px 12px $purple;
    cursor: pointer;
  }
}

//Start Styles

//Navbar -- Start
.navbar-wrapper {
  width: 100vw;
}

.navbar {
  background-color: $white;
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 50px;
  height: 70px;
  display: flex;
  justify-content: space-between;

  &-logo {
    display: flex;
    align-items: center;

    &-text {
      margin-left: 10px;
    }

    &__img {
      width: 46px;
      height: 46px;
    }
  }
  .nav {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.9rem;

    &-links {
      list-style-type: none;
      display: flex;
    }

    &-link {
      text-transform: uppercase;
      margin-right: 15px;
      font-size: 14px;
      transition: 0.3s;
      cursor: pointer;

      &::after {
        content: "";
        width: 0%;
        height: 2px;
        background: $blue;
        display: block;
        margin: auto;
        transition: 0.5s;
      }

      &:hover::after {
        content: "";
        width: 100%;
        height: 2px;
        background: $blue;
        display: block;
        margin: auto;
      }

      &:hover {
        color: $blue;
      }
    }
  }
}
//Navbar -- End

//Hero -- Start
.hero-wrapper {
  background-color: $offWhite;
  height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero {
    align-self: flex-end;
    position: relative;
    display: flex;
    align-items: center;
    width: 1140px;
    padding-left: 50px;
    height: 585px;

    &-info {
      max-width: 465px;
      align-self: flex-start;

      &__header {
        margin-top: 50px;
      }

      &__title {
        margin: 25px 0;
      }

      &__desc {
        margin-bottom: 20px;
      }
    }

    &-img-container {
      max-width: 620px;
      max-height: 580px;

      &__img {
        position: absolute;
        bottom: 0px;
        right: 0;
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}
//Hero -- End

//About -- Start
.about-wrapper {
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 200px 0;

  .about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1140px;
    padding: 0 50px;

    &-info {
      max-width: 415px;
      max-height: 350px;

      &__title {
        font-size: 2.75rem;
        padding: 15px 0;
      }
    }

    &-img-container {
      width: 550px;
      height: 350px;

      &__img {
        width: 100%;
        height: 100%;
        box-shadow: 0px 0px 16px rgba($color: $purple, $alpha: 0.2);
      }
    }
  }
}
//About -- Start

//Skills -- Start
.skills-wrapper {
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 140px 0;

  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1140px;
    padding: 0 50px;

    &-desc {
      max-width: 585px;

      &__title {
        text-transform: none;
        font-size: 2.75rem;
      }

      &__info {
        margin-bottom: 65px;
      }
    }

    &-card-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto auto;
      grid-gap: 60px 120px;

      .skill {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 195px;

        .fas {
          font-size: 40px;
        }

        &__header {
          font-weight: 600;
          letter-spacing: normal;
          text-transform: none;
        }

        &__desc {
          font-size: 1rem;
        }
      }
    }
  }
}
//Skills -- End

//Metrics -- Start
.metrics-wrapper {
  background: linear-gradient(90deg, #8490ff 0%, #62bdfc 100%);
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .metrics {
    display: flex;
    width: 1140px;
    padding: 0 45px;
    justify-content: space-between;
    color: white;

    .metric {
      &__header {
        font-size: 2.25rem;
      }

      &__desc {
        font-weight: 300;
        font-size: 1rem;
        letter-spacing: normal;
        text-transform: none;
      }
    }
  }
}

//Metrics -- End

//Projects -- Start
.projects-wrapper {
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 120px 0;

  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1140px;
    padding: 0 50px;

    &-desc {
      max-width: 585px;

      &__title {
        text-transform: none;
        font-size: 2.75rem;
      }

      &__info {
        margin-bottom: 128px;
      }
    }

    &-cta__info {
      margin-bottom: 30px;
    }

    &-card-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto auto;
      grid-gap: 75px 30px;
      margin-bottom: 100px;

      .project {
        display: flex;
        flex-direction: column;

        &-item-card {
          width: 300px;
          height: 300px;
          background: linear-gradient(90deg, #8490ff 0%, #62bdfc 100%);
          border-radius: 10px;
          box-shadow: 0px 3px 12px rgba($color: #000000, $alpha: 0.3);
        }

        &__header {
          font-weight: 600;
          letter-spacing: normal;
          text-transform: none;
          margin-top: 25px;
        }
      }
    }
  }
}
//Projects -- End

//Blog -- Start
.blogs-wrapper {
  background-color: $offWhite;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 120px 0;

  .blogs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1140px;
    padding: 0 50px;

    &-desc {
      max-width: 585px;

      &__title {
        text-transform: none;
        font-size: 2.75rem;
      }

      &__info {
        margin-bottom: 128px;
      }
    }

    &-cta__info {
      margin-bottom: 30px;
    }

    &-card-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto auto;
      grid-gap: 75px 30px;
      margin-bottom: 100px;

      .blog {
        display: flex;
        flex-direction: column;

        &-item-card {
          width: 300px;
          height: 240px;
          background: linear-gradient(90deg, #8490ff 0%, #62bdfc 100%);
          border-radius: 10px;
          box-shadow: 0px 3px 12px rgba($color: #000000, $alpha: 0.3);
        }

        &__header {
          font-weight: 600;
          letter-spacing: normal;
          margin-top: 25px;
        }
      }
    }
  }
}
//Blog -- End

//Footer -- Start
.footer-wrapper {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 0;
  color: $white;

  .footer {
    display: flex;
    justify-content: space-between;
    gap: 1.8rem;
    width: 1140px;
    padding: 0 50px;
    &-about,
    &-news,
    &-social {
      flex: 2;

      &__title {
        text-transform: none;
        font-size: 1.5rem;
        line-height: normal;
      }

      &__desc {
        margin-top: 1rem;
        color: $white;
      }
    }
  }
}
