@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  width: 100vw;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  margin: 0 auto;
  width: 40%;
  border: 1px solid rgba(132, 144, 255, 0.2);
}

h1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 4rem;
  line-height: 75px;
}

h2 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}

h3 {
  font-weight: 600;
  font-size: 1.3rem;
}

p {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.35rem;
  color: #777777;
}

.button-1 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 20px;
  border-style: none;
  padding: 10px 40px;
  background: -webkit-gradient(linear, left top, right top, from(#8490ff), to(#62bdfc));
  background: linear-gradient(90deg, #8490ff 0%, #62bdfc 100%);
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.button-1:hover {
  -webkit-box-shadow: 0 6px 12px #8490ff;
          box-shadow: 0 6px 12px #8490ff;
  cursor: pointer;
}

.navbar-wrapper {
  width: 100vw;
}

.navbar {
  background-color: #fff;
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 50px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-logo-text {
  margin-left: 10px;
}

.navbar-logo__img {
  width: 46px;
  height: 46px;
}

.navbar .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.navbar .nav-links {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .nav-link {
  text-transform: uppercase;
  margin-right: 15px;
  font-size: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.navbar .nav-link::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #62bdfc;
  display: block;
  margin: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar .nav-link:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #62bdfc;
  display: block;
  margin: auto;
}

.navbar .nav-link:hover {
  color: #62bdfc;
}

.hero-wrapper {
  background-color: #f9f9ff;
  height: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-wrapper .hero {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1140px;
  padding-left: 50px;
  height: 585px;
}

.hero-wrapper .hero-info {
  max-width: 465px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.hero-wrapper .hero-info__header {
  margin-top: 50px;
}

.hero-wrapper .hero-info__title {
  margin: 25px 0;
}

.hero-wrapper .hero-info__desc {
  margin-bottom: 20px;
}

.hero-wrapper .hero-img-container {
  max-width: 620px;
  max-height: 580px;
}

.hero-wrapper .hero-img-container__img {
  position: absolute;
  bottom: 0px;
  right: 0;
  max-width: 100%;
  max-height: 100%;
}

.about-wrapper {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 200px 0;
}

.about-wrapper .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1140px;
  padding: 0 50px;
}

.about-wrapper .about-info {
  max-width: 415px;
  max-height: 350px;
}

.about-wrapper .about-info__title {
  font-size: 2.75rem;
  padding: 15px 0;
}

.about-wrapper .about-img-container {
  width: 550px;
  height: 350px;
}

.about-wrapper .about-img-container__img {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 0px 16px rgba(132, 144, 255, 0.2);
          box-shadow: 0px 0px 16px rgba(132, 144, 255, 0.2);
}

.skills-wrapper {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 140px 0;
}

.skills-wrapper .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1140px;
  padding: 0 50px;
}

.skills-wrapper .skills-desc {
  max-width: 585px;
}

.skills-wrapper .skills-desc__title {
  text-transform: none;
  font-size: 2.75rem;
}

.skills-wrapper .skills-desc__info {
  margin-bottom: 65px;
}

.skills-wrapper .skills-card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-gap: 60px 120px;
}

.skills-wrapper .skills-card-container .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 195px;
}

.skills-wrapper .skills-card-container .skill .fas {
  font-size: 40px;
}

.skills-wrapper .skills-card-container .skill__header {
  font-weight: 600;
  letter-spacing: normal;
  text-transform: none;
}

.skills-wrapper .skills-card-container .skill__desc {
  font-size: 1rem;
}

.metrics-wrapper {
  background: -webkit-gradient(linear, left top, right top, from(#8490ff), to(#62bdfc));
  background: linear-gradient(90deg, #8490ff 0%, #62bdfc 100%);
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.metrics-wrapper .metrics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1140px;
  padding: 0 45px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

.metrics-wrapper .metrics .metric__header {
  font-size: 2.25rem;
}

.metrics-wrapper .metrics .metric__desc {
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: normal;
  text-transform: none;
}

.projects-wrapper {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 120px 0;
}

.projects-wrapper .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1140px;
  padding: 0 50px;
}

.projects-wrapper .projects-desc {
  max-width: 585px;
}

.projects-wrapper .projects-desc__title {
  text-transform: none;
  font-size: 2.75rem;
}

.projects-wrapper .projects-desc__info {
  margin-bottom: 128px;
}

.projects-wrapper .projects-cta__info {
  margin-bottom: 30px;
}

.projects-wrapper .projects-card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-gap: 75px 30px;
  margin-bottom: 100px;
}

.projects-wrapper .projects-card-container .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects-wrapper .projects-card-container .project-item-card {
  width: 300px;
  height: 300px;
  background: -webkit-gradient(linear, left top, right top, from(#8490ff), to(#62bdfc));
  background: linear-gradient(90deg, #8490ff 0%, #62bdfc 100%);
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
}

.projects-wrapper .projects-card-container .project__header {
  font-weight: 600;
  letter-spacing: normal;
  text-transform: none;
  margin-top: 25px;
}

.blogs-wrapper {
  background-color: #f9f9ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 120px 0;
}

.blogs-wrapper .blogs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1140px;
  padding: 0 50px;
}

.blogs-wrapper .blogs-desc {
  max-width: 585px;
}

.blogs-wrapper .blogs-desc__title {
  text-transform: none;
  font-size: 2.75rem;
}

.blogs-wrapper .blogs-desc__info {
  margin-bottom: 128px;
}

.blogs-wrapper .blogs-cta__info {
  margin-bottom: 30px;
}

.blogs-wrapper .blogs-card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-gap: 75px 30px;
  margin-bottom: 100px;
}

.blogs-wrapper .blogs-card-container .blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blogs-wrapper .blogs-card-container .blog-item-card {
  width: 300px;
  height: 240px;
  background: -webkit-gradient(linear, left top, right top, from(#8490ff), to(#62bdfc));
  background: linear-gradient(90deg, #8490ff 0%, #62bdfc 100%);
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
}

.blogs-wrapper .blogs-card-container .blog__header {
  font-weight: 600;
  letter-spacing: normal;
  margin-top: 25px;
}

.footer-wrapper {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 120px 0;
  color: #fff;
}

.footer-wrapper .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.8rem;
  width: 1140px;
  padding: 0 50px;
}

.footer-wrapper .footer-about, .footer-wrapper .footer-news, .footer-wrapper .footer-social {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.footer-wrapper .footer-about__title, .footer-wrapper .footer-news__title, .footer-wrapper .footer-social__title {
  text-transform: none;
  font-size: 1.5rem;
  line-height: normal;
}

.footer-wrapper .footer-about__desc, .footer-wrapper .footer-news__desc, .footer-wrapper .footer-social__desc {
  margin-top: 1rem;
  color: #fff;
}
/*# sourceMappingURL=app.css.map */